
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
    height: 125px;
}

.heading {
    text-align: center;
    margin-top: 20px;
}
.title {
    padding: 10px;
    font-size: 28px;
}

#hidden-form {
    display: flex;
    flex-direction: "column";
}
#call-to-action {
    padding: 10px;
}

#call-to-action > button {
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

button:hover {
    background-color: #2F2F2F;
    color: white;
}
.study-form {
    display: none;
    padding-right:30px;
}

.add-button {
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.button-form {
    display: flex; 
    justify-content:flex-end;
    padding-right:30px;
    padding-top:20px;
}

.identity-btn {
    padding-right:30px;
}
.grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


.grid-item {
    grid-row: span 2;
    grid-column: span 1;
    border: 2px solid #888;
    border-radius: 5px;
}

.grid-item:hover {
    cursor: pointer;
    background-color: #e8e3d3;
}

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 25px;
}

.add-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.add-card > button {
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
}

.form div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px
}

.form div input {
    width: 275px;
}

.form div textarea {
    width: 275px;
}

.form div select {
    width: 275px;
}

.form-column {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}